/**********/
/* HEADER */
/**********/

.header {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.8),
      rgba(20, 20, 20, 0.8)
    ),
    url(/images/hero.jpg);
  background-size: cover;
  height: 100vh;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 3.2rem;
  z-index: 2;
}

.logo {
  height: 4.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: transparent;
  color: #eaf3ec;
  font-size: 1.8rem;
  font-weight: 500;
  transition: text-decoration 0.3s, background-color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  text-decoration-color: #eaf3ec;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
  background-color: #409651;
  text-decoration: none;
  transition: transform 0.1s;
}

.main-nav-link.nav-cta:hover {
  background-color: #2b8a3e;
}

.main-nav-link.nav-cta:active {
  transform: scale(0.99);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .nav-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(51, 51, 51, 0.99);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
}

/*****************/
/* END OF HEADER */
/*****************/

/****************/
/* HERO SECTION */
/****************/

.hero-text-box {
  position: absolute;
  max-width: 60rem;
  top: 50%;
  right: 3%;
  transform: translate(0, -40%);
  color: #fff;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.6rem;
  max-width: 60%;
}

.delivered-text span {
  font-weight: 700;
  color: #409651;
}

/***********************/
/* END OF HERO SECTION */
/***********************/

/***********************/
/* FEATURED IN SECTION */
/***********************/

.section-featured {
  padding: 8rem 0 3.2rem 0;
  background-color: #bfdcc5;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #555;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/******************************/
/* END OF FEATURED IN SECTION */
/******************************/

/************************/
/* HOW IT WORKS SECTION */
/************************/

.section-how {
  padding: 12.8rem 0;
  background-color: #bfdcc5;
}

.how-text-box {
  justify-content: space-between;
}

.how-box {
  width: 75%;
}

.how-number {
  font-size: 9rem;
  font-weight: 600;
  color: #226e32;
}

.how-description {
  font-size: 2rem;
  line-height: 1.5;
  color: #2b8a3e;
}

/***********************/
/* END OF HOW IT WORKS */
/***********************/

/**************************/
/* MEALS AND DIET SECTION */
/**************************/
.section-meals {
  padding: 12.8rem 0;
  /* background-color: #bfdcc5; */
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 2.4rem 3.2rem 3.2rem 3.2rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 10rem;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #2b8a3e;
  color: #fff;
}

.tag--vegan {
  background-color: #0d2913;
  color: #fff;
}

.tag--paleo {
  background-color: #752923;
  color: #fff;
}

.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #2b8a3e;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/*********************************/
/* END OF MEALS AND DIET SECTION */
/*********************************/

/***********************/
/* TESTIMONIAL SECTION */
/***********************/

.section-testimonials {
  padding: 9.6rem 0 19.2rem 0;
  display: flex;
  gap: 6.4rem;
  align-items: center;
}

.testimonials-container {
  padding: 0 0 0 6.4rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  padding: 0 10rem 0 0;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}

/******************************/
/* END OF TESTIMONIAL SECTION */
/******************************/

/*******************/
/* GALLERY SECTION */
/*******************/

.section-gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.6rem;
  padding: 9.6rem;
  background-color: #bfdcc5;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
  filter: grayscale(0.5);
}

.gallery-item img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

/**************************/
/* END OF GALLERY SECTION */
/**************************/

/*******************/
/* PRICING SECTION */
/*******************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #eaf3ec;
}

.pricing-plan--complete {
  background-color: #eaf3ec;
  border: 2px solid #eaf3ec;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  top: 8%;
  right: -17%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #409651;
  color: #fff;
  padding: 0.8rem 8.6rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #226e32;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 5.2rem;
  font-weight: 600;
  color: #0d2913;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #777;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

/**************************/
/* END OF PRICING SECTION */
/**************************/

/*******************/
/* FEATURE SECTION */
/*******************/

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  display: block;
  color: #226e32;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #bfdcc5;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/**************************/
/* END OF FEATURE SECTION */
/**************************/

/**************************/
/* CALL TO ACTION SECTION */
/**************************/

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #66be79, #25973c);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}

.cta .heading-secondary {
  margin-bottom: 3.2rem;
}

.cta-text-box {
  padding: 3.2rem 6.4rem 6.4rem 6.4rem;
}

.cta-text {
  color: #0d2913;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(105, 197, 125, 0.35),
      rgba(55, 172, 79, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #333;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #eaf3ec;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(191, 220, 197, 0.5);
}

/*********************************/
/* END OF CALL TO ACTION SECTION */
/*********************************/

/******************/
/* FOOTER SECTION */
/******************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #ddd;
}

.grid--footer {
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

/* .footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 3.2rem;
} */

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/*************************/
/* END OF FOOTER SECTION */
/*************************/
